KAFKA_BROKER=your_bootstrap_server_url_here
KAFKA_API_KEY=your_kafka_api_key
KAFKA_API_SECRET=your_kafka_api_secret
SCHEMA_REGISTRY_URL=your_schema_registry_url_here
SCHEMA_REGISTRY_API_KEY=your_schema_registry_key
SCHEMA_REGISTRY_API_SECRET=your_schema_registry_secret
